.fill-remaining-space {    
    flex: 1 1 auto;
}
.wrapper-content {
    width: 100vw;
    height: 70vh;
    z-index: -9999;
    top: -60px;
}
.fundo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url('../../assets/inicial.png') no-repeat;
    background-size: cover;
}